@use "sass:map";

$colors: (
    // Primary
    primary: #6d4466,
    primary-50: #fbf8fa,
    primary-100: #f7f0f6,
    primary-200: #efdfee,
    primary-300: #e1c6de,
    primary-400: #cea4c9,
    primary-500: #b67faf,
    primary-600: #996091,
    primary-700: #7e4d77,
    primary-800: #6d4466,
    primary-900: #573851,
    primary-950: #351d30,

    // Accent
    accent: #000,
    accent-50: #f6f6f6,
    accent-100: #e7e7e7,
    accent-200: #d1d1d1,
    accent-300: #b0b0b0,
    accent-400: #888888,
    accent-500: #6d6d6d,
    accent-600: #5d5d5d,
    accent-700: #4f4f4f,
    accent-800: #454545,
    accent-900: #3d3d3d,
    accent-950: #000000,

    black: #000000,
    white: #ffffff,
    gray: #f2f2f2,
);